<div class="content">
  <header>
    <div class="logo">
      <img src="assets/img/logo.png" alt="">
    </div>
    <div class="navs">
      <a routerLink="/car-list" (click)="goBack()">
        <img src="assets/img/arrow-back.svg" alt="">
      </a>
    </div>
  </header>
  <div class="car-item">
    <div class="car-item-photo">
      <img
        src="https://cdn.motor1.com/images/mgl/YozWJ/s3/2020-gr-supra-2-0l-turbo.jpg"
        alt="">
    </div>
    <div class="car-item-info">
      <h4>Toyota Supra</h4>
      <p>
        2.0L twin-scroll single-turbo inline 4-cylinder engine, 18-in. cast-aluminum 10-spoke wheels with dual-tone
        finish, 8.8-in. display screen with Supra Command
      </p>
      <p>Year: 2020</p>
    </div>
  </div>
</div>
