<div class="content">
  <header>
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <div class="navs">
      <a routerLink="/car-list">
        <img src="assets/img/arrow-back.svg" alt="return">
      </a>
    </div>
  </header>
  <div class="car-item" *ngIf="selectedCar">
    <div class="car-item-photo">
      <img [src]="selectedCar.photoURL">
    </div>
    <div class="car-item-info">
      <h4>{{selectedCar.name}}</h4>
      <p>
        {{selectedCar.description}}
      </p>
      <p>{{selectedCar.year}}</p>
    </div>
  </div>
</div>
