<div class="content">
  <h1 mat-dialog-title>Add new car</h1>
  <form [formGroup]="newCarForm">
    <mat-form-field appearance="fill">
      <mat-label>Car brand and model</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Picture URL</mat-label>
      <input matInput formControlName="photoURL">
      <mat-hint align="end">Must start with http://</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of (carYears$ | async)" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="onAddClick()" [disabled]="newCarForm.invalid">Add</button>
    </div>
  </form>
</div>
