<div class="content">
  <header>
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <div class="navs">
      <button>Catalog</button>
      <button (click)="addNewCar()">Add new</button>
      <button (click)="logOut()">Log out</button>
    </div>
  </header>
  <section>
    <div class="sentence">
      <h3>You can choose any car you like</h3>
      <h5>I’ve always been asked, ‘What is my favorite car?’ and I’ve always said ‘The next one.’
        <span>Carroll Shelby</span></h5>
    </div>
    <div class="car-list" *ngIf="carListFromServer.length != 0">
      <mat-card (click)="watchCarDetails(i)" *ngFor="let car of carListFromServer;let i=index">
        <div>
          <img
            [src]="car.photoURL" alt="">
        </div>
      </mat-card>
    </div>
  </section>
</div>
