.content {
  position: relative;
  background-color: #262626;
  height: 100%;

  section {
    padding: 40px 0;
  }

  .loading-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

}

.car-list {
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  mat-card {
    position: relative;
    flex: 0 0 40%;
    width: max-content;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 200ms ease-in-out;
    padding: 0;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.paginator {
  width: max-content;
  margin: 0 auto;
}

.spinner {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
