<div class="content">
  <mat-card>
    <mat-card-title>Please login to view car list</mat-card-title>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="legacy">
        <mat-label>Enter your login</mat-label>
        <input type="text" matInput
               formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput
               formControlName="password">
      </mat-form-field>
      <button (click)="login()" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card>
</div>
