.car-container {
  position: relative;
  .star {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #da3c18;

    img {
      max-height: 40px;
    }
  }
}

.car {

  &-photo {
    padding: 10px;
    text-align: center;

    img {
      width: 75%;
      object-fit: cover;
      max-height: 200px;
      min-height: 200px;
      user-select: none;
      border-radius: 4px;
    }
  }

  &-name {
    text-align: center;
  }

}
