header {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  max-height: 70px;
  padding: 0 40px;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      max-height: 65px;
    }
  }

  .navs {
    display: flex;
    width: 100%;

    button, a {
      border: none;
      background: none;
      text-decoration: none;
      padding: 10px 10px;
      color: #000000;
      cursor: pointer;
      box-sizing: border-box;
      user-select: none;

      &:hover {
        border-top: 3px solid red;
      }

      &.active-link {
        border-top: 3px solid green;
      }

      img {
        max-height: 25px;
      }
    }

    &-logout {
      margin-left: auto;
    }
  }
}
