header {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  max-height: 70px;
  padding: 0 40px;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      max-height: 65px;
    }
  }

  .navs {
    display: flex;
    width: 100%;

    button, a {
      position: relative;
      border: none;
      background: none;
      text-decoration: none;
      padding: 10px 10px;
      color: #000000;
      cursor: pointer;
      box-sizing: border-box;
      user-select: none;

      &:hover {
        border-top: 3px solid red;
      }

      &.active-link {
        border-top: 3px solid green;
      }

      img {
        max-height: 25px;
      }
    }

    .fav-counter {
      position: relative;
      padding: 10px 10px;
      box-sizing: border-box;
      user-select: none;

      fa-icon {
        font-size: 30px;
        color: #da3c18;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 20px;
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
        border-radius: 50%;
        background-color: red;
        color: #ffffff;
      }
    }

    &-logout {
      margin-left: auto;
    }
  }
}
