<header>
  <div class="logo" routerLink="/car-list">
    <img src="assets/img/logo.png" alt="logo">
  </div>
  <div class="navs">
    <a routerLink="/car-list" routerLinkActive="active-link">Catalog</a>
    <a hidden routerLink="/car-details" routerLinkActive #details="routerLinkActive" class=""></a>
    <button *ngIf="details.isActive" class="active-link">
      Car details
    </button>
    <button (click)="addNewCar()">Add new</button>
    <button class="navs-logout" (click)="logOut()">Log out</button>
  </div>
</header>

